.header-bg {
  padding: 25px 0;
  background:#E0E0E0;
}

.header-bg .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bg .header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bg .header .logo img {
  width: 40px;
}

.header-bg .header .logo h1 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color:#333333;
}

.header-bg .header .menu a {
  padding: 15px 0;
  text-decoration: none;
  color:#333333;
  font-weight: 600;
  font-size: 16px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

.header-bg .header .menu a:hover {
  background: #333333;
  color: #ffffff;
}

.header-bg .header .logo #menu-mobile {
  display: none;
}

.header-bg .header .menu .border, 
.header-bg .header .menu .clean{
  padding-left: 20px;
}

.header-bg .header .menu .border::after {
  content: " ";
  margin-left: 15px;
  border-right: 1px solid #979797;
}

.header-bg .header .menu .clean {
  padding-right: 20px;
}

/*----------- Responsivo----------- */

@media (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  
  .header-bg .header .logo {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .header-bg .header .logo h1 {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .header-bg .header .logo #menu-mobile{
    display: block;
    cursor: pointer;
    transition: 0.6s;
  }

  .header-bg .header .logo #menu-mobile.fa-times{
    color: #ffff;
    z-index: 1000;
    transform: rotate(180deg);
    position: absolute;
    right: 25vw;
  }

  .header-bg .header .menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background: #333333;
    visibility: hidden;
    transition: 0.3s ease-in;
  }

  .header-bg .header .menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 32vw;
    visibility: visible;
    transition: 0.3s ease-in;
  }
  
  .header-bg .header .menu a {
    background: transparent;
    color:#ffffff;
    text-align: right;
    opacity: 0;
  }

  .header-bg .header .menu .border {
    margin: 60px 0 10px 0;
    padding: 10px;
  }

  .header-bg .header .menu .border::after {
    content: "";
    margin-left: 0;
    border-right: none;
  }

  .header-bg .header .menu .clean {
    padding: 15px;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

}

@media (max-width: 505px)  {
  .header-bg .header .menu.active {
    width: 80vw;
  }

  .header-bg .header .logo #menu-mobile.fa-times{
    right: 65vw;
  }
}