.header-bg {
  padding: 25px 0;
  background:#E0E0E0;
}

.header-bg .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bg .header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bg .header .logo img {
  width: 40px;
}

.header-bg .header .logo h1 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color:#333333;
}

.header-bg .header .menu a {
  padding: 15px 0;
  text-decoration: none;
  color:#333333;
  font-weight: 600;
  font-size: 16px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

.header-bg .header .menu a:hover {
  background: #333333;
  color: #ffffff;
}

.header-bg .header .logo #menu-mobile {
  display: none;
}

.header-bg .header .menu .border, 
.header-bg .header .menu .clean{
  padding-left: 20px;
}

.header-bg .header .menu .border::after {
  content: " ";
  margin-left: 15px;
  border-right: 1px solid #979797;
}

.header-bg .header .menu .clean {
  padding-right: 20px;
}

/*----------- Responsivo----------- */

@media (max-width: 850px) {
  .header-bg .header .logo {
    width: 100%;
    justify-content: space-between;
  }

  .header-bg .header .logo h1 {
    margin: 0;
  }

  .header-bg .header .logo #menu-mobile {
    display: block;
  }

  .header-bg .header .menu {
    display: none;
  }
}