main {
  padding: 0 20px;
}

main section {
  display: flex;
  padding: 25px 15px;
}

main section .transaction-container {
  border: 1px solid #979797; 
  width: 50%;
}

main section .transaction-container .transaction-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

main section .transaction-container .transaction-content h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

form .form-content .form-group {
  margin-bottom: 20px;
}

form .form-content .form-group:first-child {
  width: 100%;
}

form .form-content .form-group label {
  margin-bottom: 8px;
  color:#333333;
  font-weight: 400;
}

form .form-content label {
  display: block;
}

/* esconde o contador do input number para o navegador chrome */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 /* esconde o contador do input number para o navegador firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

form .form-content .form-group select, 
form .form-content .form-group input {
  width: 100%;
  height: 32px;
  padding: 0 15px;
  border-radius: 4px;
  color: #888888;
  background: #ffff;
  border: 1px solid #979797;
  outline: none;
  transition: border-color 0.2s ease-in;
  font-family: 'Lato', sans-serif;
}

form .form-content .form-group select:focus, 
form .form-content .form-group input:focus {
  border-color: #333333;
}

form .form-group input[type="submit"] {
  background: #333333;
  color: #FFFFFF;
  padding: 8px;
  height: 35px;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

form .form-content .form-group:last-child {
  margin-bottom: 0;
}

/*----------- Responsivo----------- */

@media (max-width: 850px) {
  main section {
    flex-direction: column;
  }

  main section .transaction-container {
    width: 100%;
    border: none;
  }

  main section .transaction-container .transaction-content {
    padding: 0;
  }

  main section .transaction-container .transaction-content h2 {
    display: none;
  }

  main section .transaction-container .transaction-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  form .form-content {
    display: flex;
    justify-content:space-between;
    width: 100%;
  }

  form .form-content .form-group label,
  form .form-content .form-group select, 
  form .form-content .form-group input {
    font-size: 12px;
  }

  form .form-content .form-group:first-child,
  form .form-content .form-group:nth-child(3) {
    width: 25%;
  }
  
  form .form-content .form-group:nth-child(2) {
    width: 45%;
  }

  form .button {
    width: 35%;
  }

}

@media (max-width: 505px) {
  form .form-content {
    flex-direction: column;
  }

  form .form-content .form-group label,
  form .form-content .form-group select, 
  form .form-content .form-group input {
    font-size: 16px;
  }

  form .form-content .form-group:first-child,
  form .form-content .form-group:nth-child(2),
  form .form-content .form-group:nth-child(3),
  form .button {
    width: 100%;
  }
}