.statement-container {
  width: 100%;
}

.statement-container .statement-content {
  margin: 20px;
}

.statement-container .statement-content h2{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}

.statement-container .statement-content .list {
  width: 100%;
  border-spacing: 0;
}

.list thead tr .right,
.list tbody tr .transaction,
.list tbody tr .price,  
.list tfoot tr .right,
.list tfoot tr .profit {
  text-align: right;
  padding-right: 10px;
}

.list thead tr .right,
.list tbody tr .price,  
.list tfoot tr .right {
  width: 100%;
}

.list tbody .flex .product {
  text-transform: capitalize;
  width: 100%;
}

.list tbody tr .line-one, 
.list tbody tr .line-two {
  padding: 1px;
}

.list tfoot tr .profit {
  font-size: 10px;
}

.list thead tr td, 
.list tbody tr td{
  border-bottom: 1px solid #979797;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list thead tr td,
.list tfoot tr td {
  font-weight: 700;
}

.list tfoot tr td{
  padding-top: 5px;;
}
 
@media (max-width: 850px) {
  .statement-container .statement-content {
    margin: 0;
  }

  .list tfoot .flex .left {
    width: 100%;
  }
}

@media (max-width: 505px) {
  .statement-container .statement-content {
    margin: 0;
  }
}
